* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  color: $black;
  font-weight: $fontWeight;
  font-size: $fontSize;

  // font-family: $fontFamily;
  line-height: $lineHeight;
  text-rendering: optimizeSpeed;
}

a {
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

li {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  max-width: rem($containerWidth);
  margin-inline: auto;
  padding-inline: rem(15);
}

.section {
  // padding: rem(60) 0;
}

// .disable-scroll {
//   position: relative;
//   overflow: hidden;

//   @media (max-width: rem(1023.98)) {
//     &::after {
//       position: absolute;
//       top: 0;
//       z-index: -1;
//       width: 100%;
//       height: 100vh;
//       background-color: rgba(#000, 60%);
//       backdrop-filter: blur(4px);
//       content: '';
//     }
//   }
// }

// .social-icon {
//   display: inline-block;
//   width: rem(38);
//   height: rem(38);
//   transition: transform $transition;

//   @media (hover: hover) {
//     &:hover {
//       transform: scale(1.2);
//     }
//   }
// }
